<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inscripts.ins_armman.muw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:configChanges="layoutDirection|locale"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
       <activity android:name=".mainMenu.SplashScreen"
           android:theme="@style/AppTheme.NoActionBar">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>
        <activity
            android:name="com.inscripts.ins_armman.muw.login.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="stateHidden">
           </activity>
        <activity
            android:name="com.inscripts.ins_armman.muw.mainMenu.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.inscripts.ins_armman.muw.settingActivity.Settings"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inscripts.ins_armman.muw.mainMenu.MainActivity" />
        </activity>
        <activity android:name="com.inscripts.ins_armman.muw.userProfile.userProfile" />
        <activity android:name="com.inscripts.ins_armman.muw.registration.EnrollmentQuestions" />
        <activity android:name="com.inscripts.ins_armman.muw.displayForms.displayForm" />
        <activity android:name="com.inscripts.ins_armman.muw.incompleteForm.IncompleteForm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inscripts.ins_armman.muw.mainMenu.MainActivity" />
        </activity>
        <activity android:name="com.inscripts.ins_armman.muw.completedForm.completedForm" />
        <activity android:name="com.inscripts.ins_armman.muw.completedFormList.CompletedFormsList" />
        <activity android:name="com.inscripts.ins_armman.muw.completedFormDetails.CompletedFormDetails" />
        <activity android:name="com.inscripts.ins_armman.muw.incompleteFormList.IncompleteFormList" />
        <activity android:name="com.inscripts.ins_armman.muw.midlineInterview.MidlineInterviewActivity"/>
        <activity android:name="com.inscripts.ins_armman.muw.midlineInterview.MidlineVerifyActivity"/>
    </application>

</manifest>